name: Trigger Jenkins Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  trigger:
    runs-on: self-hosted  # My runner in VM
    steps:
      - name: Trigger C_Automation Job
        run: |
          curl -X POST "http://localhost:8080/job/C-Automation-Pipeline/build" \
            --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}" \
            --data-urlencode json='{"parameters": [{"name":"branch","value":"${{ github.ref }}"}]}'
